.subnav {
    width: 75%;
    margin: 0 auto;
}
.maintitle h1 {
    padding-top: 3em;
    text-align: center;
    font-size: 2.5em;
    color: #504844;
}
.art {
    margin: 0.4em 0;
    position: relative;
    z-index: 0;
}
.center  {
    text-align: center;
    font-size: 1.3em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 0;
}
.art img {
    border-radius: 3px;
    width: 100%;
}


.uititle {
    font-size: 1.5em;
    text-align: center;
    color: #504844;
    margin-bottom: 1em;
    margin-top: 3em;
    padding: 0 13px;
}
.textbox {
    margin-top: 1.2em;
    padding: 8%;
    align-self: center;
    text-align: center;  
    line-height: 1.5em;
    background-color: #F8F3EF;
}
.textbox h1 {
    margin-bottom: 1em;
    font-size: 3em;
    color: #504844;
    display: none;
}
.box {
    margin-top: 1.2em;
    padding: 8%;
    align-self: center;
    text-align: center;  
    line-height: 1.5em;
    background-color: #F8F3EF;
}
.box h1 {
    display: none;
    margin-bottom: 1em;
    font-size: 3em;
    color: #504844;
}

.uimg {
    text-align: center;
    align-self: center;

}
.oddimg {
    text-align: center;
    align-self: center;
}
.oddimg img {
    width: 94%;

}
.uimg img {
    width: 94%;

}
.left {
    grid-area: left;
}
.right{
    grid-area: right;
}
hr {
    width: 8em;
    border: 8px solid #FBEDE8;
    margin: 4em auto;
}

@media (min-width: 37.5em) {
    .subnav {
        width: 68%;
    }
    .oddimg img {
        width: 80%;
    }
    .uimg img {
        width: 80%;
    }
    hr {
        margin: 8em auto;
    }
    .uititle{
        margin-top: 3em;
    }
} 


@media (min-width: 62.5em){
    .subnav {
        display: flex;
        flex-direction: row;
    }
    .maintitle h1 {
        padding: 0.5em 0;
        font-size: 3.7em;
    }

    .uigrid{
        margin-top: 0em;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-row: auto;
        grid-template-areas: "left right";
    }
    .textbox{
        line-height: 2em;
        padding: 10%;
        padding-left: 22%;
        background-color: white;
        
    }
    .box {
        line-height: 2em;
        padding: 10%;
        padding-right: 22%;
        background-color: white; 
    }
    .textbox h1 {
        display: block;
    }
    .box h1 {
        display: block;
    }
    .uititle h1{
        display: none;
    }
    .oddimg {
        padding-left: 9%;
    }
    .oddimg img {
        width: 84%;
    }
    .uimg {
        padding-right: 9%;
    }
    .uimg img {
        width: 84%;
    }
    hr {
        margin: 8em auto;
    }
}



